#scfi_body, #scfi_html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #111;
}

#scfi_wrapper {
}

#scfi {
    padding: 10px 30px;
    background: #111;
}

#scfi * {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;
}

#scfi #window_menu {
    display: none;
}

#scfi input, button, select {
    background: rgb(41,81,99);
    color: #fff;
    padding: 5px;
    font-size: 0.85em;
    border: 1px solid #fff;
    border-radius: 4px;
}

#scfi button {
    cursor: pointer;
}

#scfi input, button {
    padding: 5px 15px;
}

#scfi button:hover, select:hover {
    background: rgb(51,120,148);
}

#scfi select[multiple] {
    padding: 8px;
}

#scfi select[multiple] option {
    padding: 5px 15px;
    margin: 2px 0;
    border-radius: 4px;
    font-size: 0.85em;
}

#scfi option:checked {
    background: rgb(26,35,43);
}

#scfi ul, li {
    margin: 0;
    padding: 0;
}

#scfi #sidebar {  
    position: fixed;
    z-index: 999;
    width: 275px;
    height: 100%;
    left: 0;
    top: 0;
    padding: 90px 0 50px 20px;
    box-sizing: border-box;
}

#scfi #sidebar_header {  
    position: absolute;
    left: 20px;
    top: 20px;
}

#scfi #sidebar_header h1 {    
    color: #4ee0ff;
    text-transform: uppercase;  
    font-size: 1.8em;
    margin: 0;
}

#scfi #sidebar_header div {    
    font-size: 0.8em;
    color: #777;
}

#scfi #sidebar_header a {    
    font-size: 0.8em;
    color: #777;  
    text-decoration: none;
}

#scfi #sidebar_header a:hover {   
    color: #aaa;  
}

#scfi #sidebar_footer {  
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 0.8em;
}

#scfi #sidebar_footer button {    
    margin-right: 5px;
    vertical-align: bottom;
    padding: 2px 5px;
}

#scfi #forms {  
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}

#scfi #forms > li {    
    list-style-type: none;
    margin: 0 0 20px 0;
}

#scfi #forms > li > label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#scfi #forms > li > button {
    display: block;
    margin-bottom: 10px;
}

#scfi #forms > li.checkbox > label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

#scfi #data {
   margin-left: 275px;
}

#scfi li.group {   
    list-style-type: none;
}

#scfi li.group > h2 {   
    color: #4ee0ff;
    padding-bottom: 10px;
    border-bottom: 5px solid #4ee0ff;
    font-size: 1.5em;
}

#scfi li.group > ul {
}

#scfi li.card {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    background: rgba(23,29,37,1.0);
    border-radius: 5px;
    width: 185px;
    padding: 10px;
    margin: 10px;
}

#scfi li.card div.image {
    width: 100%;
    height: 115px;
    border-radius: 5px;
    background-color: #111;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

#scfi li.card div.header {
    position: relative;
    border-bottom: 3px solid rgb(29, 45, 66);
}

#scfi li.card h3 {
    margin: 0 40px 10px 0;
    padding: 0;
    color: #4ee0ff;
    font-size: 1.2em;
    display: inline-block;
}

#scfi li.card h4 {
    margin: -7px 0 10px 0;
    padding: 0;
    font-size: 0.8em;
}

#scfi li.card h4.unowned_ship {
    color: #f66;
}

#scfi li.item {
    position: relative;
    border-top: 1px solid rgb(29, 45, 66);
    list-style-type: none;
    padding: 4px 0;
    font-size: 0.8em;
}

#scfi li.item > div.image {
    position: absolute;
    right: 110%;
    top: 0;
    padding: 3px;
    border: 3px solid #555;
    border-radius: 5px;
    background-color: #111;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    z-index: 999;
    width: 165px;
    height: 115px;
}

#scfi li.card div.icons {
    position: absolute;
    top: 3px;
    right: 0;
    background: rgb(23,29,37);
}

#scfi li.item div.icons {
    top: 4px;
    display: none;
}

#scfi li.card div.icons > div {
    float: left;
    margin-left: 4px;
}

#scfi li.card div.pledge_link {
    width: 14px;
    height: 14px;
    border: 1px solid rgb(27, 100, 145);
    border-radius: 10px;
    font-size: 10px !important;
    background-color: #333;
    text-align: center;
    color: #4ee0ff;
    overflow: hidden;
}

#scfi li.card div.fleetyards_link {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAJG0lEQVR4AZ2ZBXAbydPF95iZMZz4PvssaVfySlqxdTkIMzMcn3McjsLMeMwYZmYyHkMxpZjr+0PArnv/fm1vyCTbVa/StTvT/duenZ5exWjaH67p8yOuE+Oaq+/kZv68MbH6z9sp2iLjcnEO59KHyMhe2Q1S5yLDVWLRbzmJJT8PS847vSIx8/Du2LQ9FfEpO/6maPMa73EMx4oMV/U9ZPP+MrjWAK4RGbmv/Hi7Bpx9dF/0/R//FX1lNZyBkxB8YTgKEp0RCKco2rym9ziGYzmHc+lDZNAnfYuMhtTgzcuzllj8y+DEjIN/RN/4GMHOo2DlPgqzhVFltjMqrbwnKi1PTlXA8qpo8xrvcQzHcg7n0gd9iQzKjVGf6r2RyBy+XmRYmf1PJhec2hJ7+2sUpHrAfEKgch+rtPwF/1gFDqyCMMSGP1CAfI+Hos1rci8EjuFYzuFc+qAv+qRv0cVYdanOi+5TxReUROWJzziDpsB8XDKR367KsiPVwS2rRn7Yto0WLVpgyJAhGDRoEFq2bCnXCBlwx+kczqUP+qJP+mYMUb2ZrDdzsQVlL8Sn7jprp/vA19K4cBHMNDWgK9OXD8dxdDetWbMGq1atUtuJRGB6nrpiLOe6oPRJ34zBWKI6M1lv5jgx4KRh5twucNFaYMyO6c1FoO94BMNRQhFOJRsUQTsA//PDmWGRWQuUPumbMRirvkxeNNwdxfeCqZeno4NKzZzpqwVn+TwwA2FISUHouUG4TQCLisaJinDHrTcgGHLgvLceVuQ5WMzkZa8FRZ/0zRiMxZjuO0mWK3cxaxJAGXx5+X5UL2u0NpwL6P0/DR5++xs4nYfTCSZPnqKiHX6mFyJTdsL/3DCYeU/CCti1/ShkVGMxJmOLDLJcUSfdtHL7c4fphrAjtZa11hJ7chAYMBnhSEKhpk+frlLAcASBQRmY+pAeLnXdfnS5IxqTsd0S5DIZ7tHDAsoaxTLAneYuSYOA+TmwRy6Ek3heoebMnYs5c+bUAIb1nqkby1cvIMVYjMnYZHCLubK5pKzyLKTmE41nz3VqPt0O9uglcFKdFGrRokUqBYzEYI9ZJoB2o4BuFhmbDGQRKZvhrjWPouoTQoswJ2YB2AbBl1bBSXdTqOXLV4iWq+1EEwi+vCYrQNcfY5OBLKKLbHrw87zkkcSqzwnZAoZe/RDOMz1r6uBarYUKGEsh9NpHNYDeRgEpxiYDWcgkUjhdXh7qPDd5NGUHGBDAtggXfQanY2+F+uijj0Uf1QAWIjzuCy1Fukn8jQMyNhnI4i4z4Qy2Rew89OAvCGUPmN8BDsvMs30V6vPPP1fRDsfScN75FqYdg+XL5/gsAEPKQBYyiQzCGezd2B5pV+K3swCszobpzUPkvfUC2E+hvv76G9HXFwEj72+AGU7DknHZADI2GchCJlF1J8wGkz2c5X2qKjtHfn3xTSuA6MStCNcAfv/DD/j+++/VDkULEZ20DVZM/Eq9zG7jBZSBLGQim8EWnV0wG01ZiipmJytHvqdh2nHEpu5GqGP1Em/YuBEbNmxUOxhJ6j2rsA8s2UzZrgwZyEImsjUTsECzwuzEZxxAMF29SbZs3YotW7aqbYdjiE8/IA3DCJisDoFgswCbt8QBG2ZeC1gdB7FmwU51V6gdO3aKdqhdYIeRmHUEgR5FMHNukTmhZi0xAZu8SZgN86m7Eej2muy2UwjEO+Oe6wzs2bNHde+dN8Pv9yM55zjsQdNgtjXYeWe5SR6/YpMQrsllhsEYlMFTC0pgOh3R+vG7sX//flXrVi1gevORmnsCobHL2a2wxjW/zDS1UHMMg4ZeWo3ChaXwFMThzeuAQ4cOiw7B6/XAk9tOAI/Deetr+Fq4gGazCnUTjzpTM+hrbUidW4/CBcXI89mIhG0cPXpUFYlEkdv+caRmH0FcGlpfzt01/aDZ5KOu2c2CzzSREIBCyVKHXA+ee7YjTpw4oXru+RfQoeXdSE7fi9TCEpjRF2B5c7kJmt4sNK3dMquXocONujsLl/6KlJSZVq1aoU/v3jh16pSqT59+aHW/gcTkbUiv+AP20FmacffbpintVtYNK51wmfwib/vr9ZRIL/sNyak78fBtBkaMHIXi4mLViFGj8ZAhgOM3cIzUyoPw+YP8TOAD0lf2DSvh6m/5fW4B1SdkBr2PGQhLG1W45CcULv4JyYmbcCM/mMa9hdLSUoq2Xou/9aWM+1nGVSAyfiO8He6RU6U1/HaUUFm1/DTq/mhqYVzwh5LcEArqa2PA5/XCGVcdNDX/tCzxL4i/to4OMHXadJSXl4nKxc7otejIeTomybEyh1k3413pmyeR1lPGYKwGP5r4V+uz85l+8D1kVPraGro8BYOn61IxYEp2Ll/+5KJyRHoXKcyy5SsUjlrmdtXPD0RC4FKLyuSBihUyOe+klKdVAtpddvdd8N1vVDIWY0Yktqj2Z6erSx/uFdHY5O1ng4MzkrEvLiRmHXaXinCiErVjmX36gc6XeP369S6g2tfcfC9sz+OITNjMuZzDuQrLh+QJFB2/6UJo9GLEJm07y5giZcjup4+Zh16Izz15Nr38D75vF1ywlBRm2gwSeWUt2t9poHPXHjh+/DhKSkoo2nqtw70GwsNmKaDO17klsuRiLy6/kF7+O+LzTp51JJZIYzfpxyPn3fXRaGbvmfRSyd6isqrUotIqFzIp/zqdhulSzp03DxUVFW6ZUXvu3Hl6Lxx/TuraMclcucLRB32l5QGjmX1nnHe/i4o0ZvN+fiv68kmB3ELnaWZiYUmVZK8y8v5GrfqPtcnDzp07UVZWjlOnT1O09dpjbfNh5dyM8Ouf/JNe9msl59IHfdEnfYuy//mtvkxS4Sk7BkenH/iDzrk0TvXmqJo2eXzlzz9XVBYXn64qKSlW0eY13uMYdtyF+nBloA/6EhlUs3/AdGVkMpd+Au6Tud2ZtGNYbPqBfYnxP/4rZ/hSfLv5IEorfkdJaYVsEJXavMZ7HMOxsen79jmTdg+jD5GWEvoWGQ2qkQFUvT+iS1aGhacfXNFl1t7dIxcfqHhl+cG/Kdq8xnsck1j5W47IcJXFj+jN/UMD/5XQRw6P1bdTtEXGZao1N1v9D+vStiK0rYP1AAAAAElFTkSuQmCC");
}




