name: Release

on:
    release:
        types: [created]

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest

        steps:
          - name: Install Dependencies
            run: |
                sudo apt update
                sudo apt install -y --fix-missing build-essential

          - name: Checkout
            uses: actions/checkout@v4

          - name: Build Assets
            run: |
                make pack-all

          - name: Upload Release Assets
            uses: actions/github-script@v4
            with:
                script: |
                    const fs = require('fs');
                    const tag = context.ref.replace("refs/tags/", "");
                    // Get release for this tag
                    const release = await github.repos.getReleaseByTag({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        tag
                    });
                    // Upload the release asset
                    await github.repos.uploadReleaseAsset({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        release_id: release.data.id,
                        name: "sc-fleet-info.js",
                        data: await fs.readFileSync("injector-script/sc-fleet-info.js")
                    });
                    await github.repos.uploadReleaseAsset({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        release_id: release.data.id,
                        name: "sc-fleet-info-injector.js",
                        data: await fs.readFileSync("injector-script/sc-fleet-info-injector.js")
                    });

